body {
  @include font('Roboto', 400);
  background: $gray;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

* {
  z-index: 1;
}

h2, h3, h4, h5, a, p { color: #000; }

h2 {
  @include FontLineSize(0.35, 0.35, 0.3, 27, 7, normal, desktop-small);
  font-weight: 400;
}
h3 {
  @include FontLineSize(0.35, 0.35, 0.3, 26, 7, normal, desktop-small);
  font-weight: 400;
}
h4 {
  @include FontLineSize(0.35, 0.35, 0.3, 25, 7, normal, desktop-small);
  font-weight: 400;
}
h5 {
  @include FontLineSize(0.18, 0.18, 0.64, 16, 7, normal, desktop-small);
  font-weight: 400;
}
p, a {
  @include FontLineSize(0.15, 0.15, 0.7, 14, 7, normal, desktop-small);
  font-weight: 400;
}

.dd-blue {
  color: $dd-blue;
}

.d-gray {
  color: $d-gray;
}

.button-accent {
  @include min-width(213, 0.5, desktop-small);
  @include min-height(58, 0.5, desktop-small);
  @include max-height(80, 0.5, desktop-small);
  @include FontLineSize(0.15, 0.15, 0.7, 14, 7, normal, desktop-small);

  &:after {
    top: RelativeUnits(-141, 0.5, desktop-small);
    right: RelativeUnits(-150, 0.5, desktop-small);
    @include width(263, 0.5, desktop-small);
    @include height(167, 0.5, desktop-small);
  }
}

.button-accent {
  background: #fff;
  @include border-radius(51);
  color: $blue !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-weight: 500;
  mask-image: radial-gradient(circle, white 100%, black 100%);

  &:hover {
    color: #fff !important;
  }

  &::after {
    content: '';
    background: $blue;
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: 0.5s;
    z-index: -1;
    mask-image: radial-gradient(circle, white 100%, black 100%);
  }

  &::before {
    content: '';
    background: #fff;
    position: absolute;
    display: block;
    z-index: -1;
    mask-image: radial-gradient(circle, white 100%, black 100%);
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    @include border-radius(51);
    border: 2px solid $blue;
  }

  &:hover::after {
    background: $blue;
    height: 1000%;
    width: 240%;
  }
}
