#header, #footer {
  @include min-height(120, 0.3);
  width: 100vw;
  background: transparent;
  @include margin-padding(('p-l': (200, 1), 'p-r': (200, 1) ));
  z-index: 9;

  h4 { white-space: nowrap; }

  h4, p, a { color: black; }

  p { text-align: center; }

  .phone-button {
    border: 2px solid $blue;
    @include margin-padding(('m-l': (26, 0.7) ));
    @include min-width(170, 0.3);
    @include height(58, 0.3);
    text-decoration: none;
    border-radius: RelativeUnits(60, 0.5);
    font-weight: 500;
    color: #000;
    white-space: nowrap;

    &:visited {
      color: #000;
    }
  }

  .logo-container {
    @include margin-padding(('m-r': (55, 0.7) ));
  }

  @include _tablet-big {
    h4 { font-size: 14px; }
    .group {
      p { max-width: 200px; }
    }
  }

  @include _tablet-middle {
    .group {
      p { max-width: 150px; }
    }
    h4 { font-size: 12px; }
  }

  @include _tablet-small {
    .group {
      p { display: none; }
    }
  }

  @include _phone-big {
    .group {
      width: 120px;
      flex-wrap: wrap;
      a, h4 { flex-grow: 1; }
      h4 {
        text-align: center;
        font-size: 16px;
        margin-bottom: 5px;
      }
      .phone-button { margin: 0; }

    }
  }

}

.logo-container {
  @include width(114, 0.7);
}

.trans {
  background: transparent;
}

.blue {
  background: $d-blue;
}
