#header {
  @include min-height(120, 0.3);
  width: 100vw;
  background: #fff;
  @include margin-padding(('p-l': (200, 1), 'p-r': (200, 1) ));
  z-index: 9;

  .logo-container {
    @include margin-padding(('m-r': (55, 0.7) ));
    @include width(114, 0.5, desktop-small);
    @include min-width(114, 0.5, desktop-small);
  }

  h3 {
    max-width: 55vw;
  }

}
