//must have

$article-color: #1D276E;
$h1-color: #1D276E;
$h2-color: #1D276E;
$h3-color: #1D276E;

$l-blue: #E2ECFE;
$blue: #4360FB;
$d-blue: #3B478A;
$dd-blue: #1D276E;

$gray: #F4F6FB;
$d-gray: #616688;

$purple: #9C91F2;
